:root {
    --laranja: #ff7f27;
    --azul: #00a3e0;
}

body, html {
    margin: 0;
    border: 0;
    padding: 0;
}

/*-------------------------------------------------------------------------*/

header {
    background-color: #ff7d2713;
    padding: 1px 20px;
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

header a {
    color: transparent;
}

header #logo {
    width: 50px;
    height: 50px;
}

header #titulo {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--laranja);
    margin-left: 10px;
}

/*-------------------------------------------------------------------------*/

#primeiraSecao {
    background-color: #fcfcfc;
    width: 100%;
    height: 501px;
    overflow: hidden;
}

#primeiraSecao #frase {
    position: absolute;
    width: 60%;
    top: 180px;
    left: 50px;
    font-size: 40px;
    font-family: "Protest Revolution", serif;
    font-weight: 500;
}

#primeiraSecao #colorido {
    color: var(--laranja);
}

#primeiraSecao #colorido-azul {
    color: var(--azul);
}

#primeiraSecao #claudia {
    position: absolute;
    right: 0;
}

/*-------------------------------------------------------------------------*/

#segundaSecao {
    text-align: center;
    height: 300px;
}

#segundaSecao #titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

#segundaSecao #servicos {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    gap: 20px;
    text-align: center;
}

#segundaSecao #servicos aside {
    box-shadow: 3px 3px 10px rgba(12, 12, 12, 0.200);
    padding: 2px;
    flex: 1;
    border-radius: 5%;
}

#segundaSecao #servicos aside h3{
    font-size: 17px;
}

#segundaSecao #servicos aside i {
    font-size: 80px;
    color: var(--laranja);
}

#segundaSecao #servicos #servico2 i {
    color: var(--azul);
}

#segundaSecao #servicos #servico4 i {
    color: var(--azul);
}

#segundaSecao #servicos aside h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 680px) {
    #segundaSecao #servicos {
        flex-direction: column;
    }
    
    #segundaSecao {
        height: 900px;
    }
}

@media (max-width: 480px) { 
    #primeiraSecao #frase {
        top: 80px;
    }
}

@media (max-width: 440px) { 
    #primeiraSecao #frase {
        font-size: 35px;
    }
}

@media (max-width: 400px) { 
    #primeiraSecao #frase {
        left: 5%;
        font-size: 6dvw;
    }
}

/*-------------------------------------------------------------------------*/

#terceiraSecao #videoApresentacao {
    margin-top: 40px;
    height: 450px;
    border-radius: 15px;
    margin-left: 50px;
}

/*-------------------------------------------------------------------------*/

#quartaSecao {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

#quartaSecao #diasSemana {
    color: var(--azul);
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 40px;
}

#quartaSecao #diasSemana section {
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(12, 12, 12, 0.200);
    padding: 2px;
    flex: 1;
}

#quartaSecao #diasSemana h5 {
    font-size: 15px;
}

#quartaSecao #agendar {
    background-color: var(--laranja);
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    transform: translate(-50%,50px);
}

@media ( max-width: 590px ){
    #quartaSecao #diasSemana {
        flex-direction: column;
    }
    #quartaSecao {
        height: 860px;
    }
}

/*-------------------------------------------------------------------------*/

footer {
    background-color: #ec7626;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    color: #f0f0f0;
    height: 80px;
    margin-top: 40px;
    border-bottom: 0;
    margin-bottom: 0;
}

footer #direitos {
    margin-top: 30px;
}

footer #direitos a {
    font-size: 12px;
    color: #f0f0f0;
    text-decoration: none;
}

footer #direitos a:hover {
    text-decoration: underline;
}

footer #direitos p {
    font-size: 12px;
}

footer #sociais {
    position: absolute;
    right: 50px;
    transform: translateY(-110px);
}

footer #sociais h5{
    margin-left: 5px;
}

footer #sociais #botoes {
    display: flex;
    gap: 8px;
}

footer #sociais #botoes a {
    text-align: center;
    height: 60px;
    color: #f0f0f0;
    text-decoration: none;
}

footer #sociais #botoes a img {
    border-radius: 25%;
    width: 35px;
    height: 35px;
}

footer #sociais #botoes a p {
    transform: translateY(-10px);
    font-size: 12px;
    color: #ffd9c0;
}

@media ( max-width: 520px ){
    footer {
        height: 250px;
    }
    footer #direitos {
        margin-top: 200px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    footer #sociais {
        position: absolute;
        right: 50%;
        transform: translate(50%,-250px);
    }
}